/* Styles pour que la section Hero prenne toute la hauteur de l'écran */
.hero-section {
    height: 100vh;                /* Prend toute la hauteur de l'écran */
    display: flex;                /* Utilisation de flexbox pour centrer le contenu */
    padding: 0 20px;              /* Ajout de padding pour les petites tailles d'écran */
    background-color: white;
    justify-content: space-around;
    align-items: center;
  }
  
  .hero-section img {
    width: 280px;
    border-radius: 100%;
    border: solid;
  }

  .hero-section h1 {
    font-size: 3rem;              /* Taille du titre */
    font-weight: normal;
  }

  .title {
    margin-bottom: 20px;          /* Espace sous le titre */
  }

  .hero-section h1 b{
    border-bottom: #F3BE4C solid 4px;
  }

 
.hero-section p {
  font-size: 1.5rem;            /* Taille du texte descriptif */
  margin-bottom: 40px;          /* Espace sous le paragraphe */
}
  
.bouncy-title-one {
  position: relative;
  animation: fall-and-bounce-one 2s ease-in-out;
}

.bouncy-title-two {
  position: relative;
  animation: fall-and-bounce-two 2s ease-in-out;
}

/* Animation keyframes pour l'effet de chute et rebond */
@keyframes fall-and-bounce-one {
    0% {
        top: -300px; /* Commence hors de l'écran */
    }
    60% {
        top: 0; /* Arrive à sa position finale */
    }
    70% {
        top: -60px; /* Rebond léger vers le haut */
    }
    80% {
        top: 0; /* Revient à la position finale */
    }
    90% {
        top: -30px; /* Rebond plus léger */
    }
    100% {
        top: 0; /* Se stabilise à la position finale */
    }
}

/* Animation keyframes pour l'effet de chute et rebond */
@keyframes fall-and-bounce-two {
  0% {
      top: -600px; /* Commence hors de l'écran */
  }
  30% {
      top: 0; /* Arrive à sa position finale */
  }
  60% {
      top: -60px; /* Rebond léger vers le haut */
  }
  80% {
      top: 0; /* Revient à la position finale */
  }
  90% {
      top: -30px; /* Rebond plus léger */
  }
  100% {
      top: 0; /* Se stabilise à la position finale */
  }
}

.rotate {
  transform: rotate(-180deg);
  transition-property: transform;
  transition-duration: 2s;
}

.rotateInverse{
  transform: rotate(0deg);
  transition-property: transform;
  transition-duration: 2s;
}

@media (max-width: 1200px) {
  .hero-section img {
    width: 220px;
  }
}

@media (max-width: 1200px) {
  .hero-section img {
    width: 180px;
  }
  .hero-section h1 {
    font-size: 2.5rem;              /* Taille du titre */
  }
}

@media (max-width: 890px) {
  .hero-section img {
    width: 180px;
  }

  .hero-section h1 {
    font-size: 2rem;              /* Taille du titre */
  }
}

@media (max-width: 610px) {
  .hero-section {
    display: flex;                /* Utilisation de flexbox pour centrer le contenu */
    flex-direction: column;
  }

  .hero-section img {
    width: 150px;
  }

  .hero-section h1 {
    font-size: 1.6rem; 
  }

  .title{
    margin-top: 20%;
  }

  .hero-section img {
    width: 250px;
    margin-bottom: 50px;
  }
}

@media (max-width: 545px) {

}