/* Styles pour la navbar centrée et horizontale */
nav {
    width: 100%;
    position: absolute;
    padding: 20px 0;         /* Espacement vertical pour la navbar */
    display: flex;                 /* Active le Flexbox */
    justify-content: space-around; /* Espace entre les éléments de gauche et de droite */
    justify-content: center;
    ul {
      list-style: none;        /* Enlève les puces de la liste */
      display: flex;           /* Affiche les items du ul horizontalement */
      align-items: center;
      padding: 0;              /* Retire le padding par défaut */
      margin: 0;               /* Retire la marge par défaut */
      li {
        display: inline-block;    /* Affiche les items horizontalement */
        margin: 0 15px;           /* Espace entre chaque élément de la navbar */
        
        a {
          color: black;          /* Couleur du texte */
          text-decoration: none;    /* Enlève la sous-ligne des liens */
          font-size: 20px;          /* Taille de police des liens */
          transition: color 0.3s;   /* Transition pour effet de survol */
        }
        a:hover {
          font-weight: bold;
        }
      }
    }
  }

  @media (max-width: 610px) {
    nav ul li {
      margin: 0 5px;
    }
    nav ul li a {
      font-size: 17px;          /* Taille de police des liens */
    }
  }