
.follower {
  position: absolute; /* Positionnement absolu pour suivre le curseur */
  width: 10px; /* Largeur de l'élément */
  height: 10px; /* Hauteur de l'élément */
  background-color: #F3BC4A; /* Couleur de l'élément */
  border: solid black 1px;
  border-radius: 50%; /* Arrondir l'élément pour en faire un cercle */
  transition: transform 0.2s; /* Transition douce pour le mouvement */
}

